.grid {
	width: 0;
	height: 0;
	display: block;
	margin: 100px auto;
	position: relative;
}
.case{
	width: 20px;
	height: 20px;
	display: block;
	
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;

	background: #ccc;
	color: blue;
}
